<h1>Add dealerships</h1>

<p>Add a dealership here:</p>

<form action="/dealerships" method="post">
  <div class="form-group">
    <label for="name">Dealership's name:</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  
  <button type="submit">Add Dealership</button>
</form>
